
nav#sidenav
	ul#sidenav-items

		- var elements = []
		//- - elements.push({title: 	"Dashboard",        		icon: "fa-home",	 	url: "/projects/dashboard"})
		//- elements.push({separator: "Project Management"})
		//- elements.push({title: 	"Upload Data",  			icon: "fa-database", 	url: "/upload-data"})
		//- elements.push({title: 	"Upload Training Data", 	icon: "fa-upload",   	url: "/generator/upload-training-data"})
		//- elements.push({title: 	"Upload Evaluation Data", 	icon: "fa-upload",   	url: "/generator/upload-evaluation-data"})
		- elements.push({separator: "Visualisation"})
		- elements.push({title: 	"Timeline",  				icon: "fa-bar-chart", 	url: "/timeline"})
		- elements.push({title: 	"Word Cloud",  				icon: "fa-cloud", 		url: "/wordcloud"})
		- elements.push({title: 	"Entity Recognition Report",icon: "fa-list-alt", 	url: "/entity-recognition-report"})
		- elements.push({title: 	"Entity Linking Graph",		icon: "fa-share-alt", 	url: "/entity-linking-graph"})
		- elements.push({title: 	"Association Rule Mining",	icon: "fa-binoculars", 	url: "/association-rule-mining"})
		- elements.push({title: 	"Decision Tree",			icon: "fa-sitemap",		url: "/decision-tree"})



		each element in elements
			if element.hasOwnProperty("separator")
				li.separator: span #{element.separator}
			else
				li
					a(href=element.url class=(path === element.url ? "current" : ""))
						<i class="fa #{element.icon}"></i> #{element.title}

